/JDBC/nbproject/private/
/JDBC/build/
/Todo/nbproject/private/
/Todo/build/
/Todo/dist/
/Todolist/nbproject/private/
/TodolistProject/nbproject/private/
/List/nbproject/private/
/MyTodoList/nbproject/private/
/MyTodoList/build/
